html, body{
    height: 100%;
}

body{
    background-color: lightgrey;
    display: flex;

}

p{
    font-family: 'Nova Square', cursive;
    font-size: 50px;
}


div{
   display: flex;
    margin: auto; 
    width: 50%;
    border: 1px solid black;
    text-align: center;
    align-content: space-around;
}